.feed {
    background-color: #555e70;
    overflow-y: auto;
    max-height: 84.3vh;
    max-width: 70vh;
    min-width: 70vh;
    min-height: 84.3vh;
}

.loading {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.filter {
    background-color: white;
}

.stack {
    margin: auto;
    display: flex;
    justify-content: center;
}

.buttons {
    background-color: #555e70;
    max-height: 8vh;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonLeft {
    text-align: left;
}

.buttonRight {
    text-align: right;
}

.pageNumber {
    text-align: center;
    flex: 1;
}
