.feed {
    background-color: #555e70;
    overflow-y: auto;
    max-height: 90vh;
    max-width: 70vh;
    min-width: 70vh;
    margin: auto;
}

.loading {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.filter {
    display: inline-flex;
}
