.feed {
    background-color: #555e70;
    overflow-y: auto;
    max-height: 84.3vh;
    max-width: 70vh;
    min-width: 70vh;
    min-height: 84.3vh;
}

.loading {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.filter {
    background-color: white;
}

.stack {
    margin: auto;
    display: flex;
    justify-content: center;
}

.buttons {
    max-height: 8vh;
    color: white;
    font-size: 25px;
}

.buttonLeft {
    margin-right: 15%;
}

.buttonRight {
    margin-left: 26%;
}
